.App {
  text-align: center;
  background-color: #10141e;
  width: 100%;
  min-height: 100vh;
  display: flex;
}
#InnerAppWrapper {
  column-gap: 36px;
  box-sizing: content-box;
  margin: 32px;
  width: 98%;
  display: flex;
  flex-direction: row;
}

#MoviesContainer {
  width: 93%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

#InnerMoviesContainer{
  margin-top: 32px;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 34px;
  align-items: start;

}

@media (max-width : 550px) {
    #InnerAppWrapper{
      justify-content: start;
      flex-direction: column;
      align-items: center;
      width: 95%;
      margin: 0;

    }
    .App{
      justify-content: center;

    }
}